<!doctype html>
<html>
	<head>
		<title>{{- .Site.Title -}}</title>
		{{ partial "head.html" . }}
	</head>
	<body>
		<header>
			<nav class="navbar">
				<div class="navbar-brand">
					<a href={{ "/decal" | relURL }}><em><b>Introduction to Competitive Programming and Algorithms</b></em></a>
					<a href={{ "/" | relURL }}><span>by Competitive Coding @ Berkeley</span></a>
				</div>
				<div class="navbar-menu">
					<a href={{ "/" | relURL }}>club</a>
					<a href="https://discord.gg/Ej5Dy6SC">discord</a>
				</div>
			</nav>
		</header>
		<main role="main">
			{{ block "main" . }}{{ end }}
		</main>
	</body>
</html>
